.cv
  .container-fluid
    .display
      a.expand(
        data-toggle='collapse',
        href='#cv',
        role='button',
        aria-expanded='false',
        aria-controls='cv'
      ) Curriculum Vitae
      | .
    #cv.collapse
      div want CV in PDF?
      include ../includes/_cv_jobs.pug
      include ../includes/_cv_publications.pug

      include ../includes/_cv_skills.pug
