.cv-of-failures.text-darker
  .container-fluid
    .display
      a.expand(
        data-toggle='collapse',
        href='#cv-of-failures',
        role='button',
        aria-expanded='false',
        aria-controls='cv'
      ) CV of Failures
      | .
    #cv-of-failures.collapse
      .subhead rejected jobs
      .row
        .col-12.col-sm-6.col-lg-3.col-xl-2.pr-md-5.pb-5
          .mono 2020
          .paragraph Chiba University
          .tiny WfH not allowed
        .col-12.col-sm-6.col-lg-3.col-xl-2.pr-md-5.pb-5
          .mono 2018
          .paragraph BCGDV
          .tiny Rejected at the third interview
        .col-12.col-sm-6.col-lg-3.col-xl-2.pr-md-5.pb-5
          .mono 2017
          .paragraph AIST
          .tiny Documents rejected (Ph.D. required)
        .col-12.col-sm-6.col-lg-3.col-xl-2.pr-md-5.pb-5
          .mono 2016
          .paragraph HITACHI
            //- img.cv-of-failures__icon--long(
            //-   width='64px',
            //-   height='64px',
            //-   src='https://unpkg.com/simple-icons@latest/icons/hitachi.svg'
            //- ) 
          .tiny Rejected at an informal meeting
        .col-12.col-sm-6.col-lg-3.col-xl-2.pr-md-5.pb-5
          .mono 2016
          .paragraph 
            img.cv-of-failures__icon(
              src='https://unpkg.com/simple-icons@latest/icons/mitsubishi.svg'
            ) 
          .tiny Told to
            = " "
            span.font-italic 're-apply after acquiring degree'
        .col-12.col-sm-6.col-lg-3.col-xl-2.pr-md-5.pb-5
          .mono 2012
          .paragraph 
            img.cv-of-failures__icon(
              src='https://unpkg.com/simple-icons@latest/icons/mitsubishi.svg'
            ) 
          .tiny Refused to see
        .col-12.col-sm-6.col-lg-3.col-xl-2.pr-md-5.pb-5
          .mono 2012
          .paragraph Uchida Yoko
          .tiny Rejected at the final interview
        .col-12.col-sm-6.col-lg-3.col-xl-2.pr-md-5.pb-5
          .mono 2012
          .paragraph TOSHIBA
            //- img.cv-of-failures__icon(
            //-   src='https://unpkg.com/simple-icons@latest/icons/toshiba.svg'
            //- ) 
          .tiny Rejected at the design internship
      .row
        .col-12.col-md-6.col-xl-3.pr-md-5.pb-5
          .subhead rejected internships
          .row
            .col
              .mono 2011
              .paragraph 
                img.cv-of-failures__icon(
                  src='https://unpkg.com/simple-icons@latest/icons/fujitsu.svg'
                ) 
              .tiny Documents rejected, later reconsidered
            .col
              .mono 2011
              .paragraph 
                img.cv-of-failures__icon--long(
                  src='https://unpkg.com/simple-icons@latest/icons/samsung.svg'
                ) 
              .tiny Documents rejected
        .col-12.col-md-6.col-xl-3.pr-md-5.pb-5
          .subhead lost competitions
          .row
            .col-12.pb-5
              .mono 2015
              .paragraph Wired Creative Hack Award
              .tiny Lost at the first round
            .col-12.pb-5
              .mono 2011
              .paragraph Morisawa Type Design Competition
              .tiny Lost at the first round
        .col-12.col-md-6.col-xl-3.pr-md-5.pb-5
          .subhead degree programmes I did not get into
          .row
            .col-12.pb-5
              .mono 2007
              .paragraph University of Tokyo
              .tiny First round
            .col-12.pb-5
              .mono 2011
              .paragraph Tokyo Institute of Technology
              .tiny Second round
        .col-12.col-md-6.col-xl-3.pr-md-5.pb-5
          .subhead paper rejections from academic journals
          .row
            .col
              .mono 2016
              .paragraph JSSD
            .col
              .mono 2016
              .paragraph JSSD
              .tiny same paper, never published
