.cv-of-failures.text-darker
  .container-fluid
    a(
      data-toggle='collapse',
      href='#cv-of-failures',
      role='button',
      aria-expanded='false',
      aria-controls='cv'
    ) CV of Failures
    | .
    #cv-of-failures.collapse
      .subhead rejected jobs
      .paragraph
        .row.datapoint.g-0
          .col-md-2.mono 2020.07
          .col-6.col-md-3.font-weight-bold Chiba University
          .col-6.col-md-7 wfh not allowed
        .row.datapoint.g-0
          .col-md-2.mono 2018.08
          .col-6.col-md-3.font-weight-bold BCGDV
          .col-6.col-md-7 rejected at 3rd interview
        .row.datapoint.g-0
          .col-md-2.mono 2017
          .col-6.col-md-3.font-weight-bold AIST
          .col-6.col-md-7 documents rejected (Ph.D. required)
        .row.datapoint.g-0
          .col-md-2.mono 2016
          .col-6.col-md-3.font-weight-bold Hitachi
          .col-6.col-md-7 rejected at an informal meeting
        .row.datapoint.g-0
          .col-md-2.mono 2016
          .col-6.col-md-3.font-weight-bold.font-weight-bold Mitsubishi Electric
          .col-6.col-md-7 told to
            span.font-italic 're-apply after acquiring degree'
        .row.datapoint.g-0
          .col-md-2.mono 2012
          .col-6.col-md-3.font-weight-bold Uchida Yoko
          .col-6.col-md-7 rejected at the final interview
        .row.datapoint.g-0
          .col-md-2.mono 2012
          .col-6.col-md-3.font-weight-bold Mitsubishi Electric
          .col-6.col-md-7 refused to see
        .row.datapoint.g-0
          .col-md-2.mono 2012
          .col-6.col-md-3.font-weight-bold Uchida Yoko
          .col-6.col-md-7 rejected at the final interview
        .row.datapoint.g-0
          .col-md-2.mono 2012
          .col-6.col-md-3.font-weight-bold Toshiba
          .col-6.col-md-7 rejected at the design internship
